<Project xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
	<!-- define RootDir before importing this project -->
	<PropertyGroup>
		<ExternalsPath>$(RootDir)\External</ExternalsPath>
		<CustomBuildTargets>$(ExternalsPath)\BI.Framework\Build</CustomBuildTargets>
		<LibPath>$(ExternalsPath)\Library</LibPath>
		<PackagesPath>$(SolutionDir)\packages</PackagesPath>
		<TargetFrameworkVersion>v4.5</TargetFrameworkVersion>
		<PackageFrameworkVersion Condition="$(TargetFrameworkVersion)=='v3.5'">net35</PackageFrameworkVersion>
		<PackageFrameworkVersion Condition="$(TargetFrameworkVersion)=='v4.0'">net40</PackageFrameworkVersion>
		<PackageFrameworkVersion Condition="$(TargetFrameworkVersion)=='v4.5'">net45</PackageFrameworkVersion>

		<SolutionVersionMajor>1</SolutionVersionMajor>
		<SolutionVersionMinor>0</SolutionVersionMinor>
		<SolutionVersionBuild>0</SolutionVersionBuild>
	</PropertyGroup>
</Project>
