<Project xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
	<!-- 
	
		Place <Import Project="$(SolutionPath).build.config" /> into your project to use these settings

	-->
	<PropertyGroup>
		<RootDir>$(SolutionDir)</RootDir>
	</PropertyGroup>
	<Import Project="$(RootDir)Common.build.config" />
</Project>
