<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Args" version="1.1.2" targetFramework="$(PackageFrameworkVersion)" />
  <package id="Autofac" version="3.5.2" targetFramework="$(PackageFrameworkVersion)" />
  <package id="NLog" version="3.2.1" targetFramework="$(PackageFrameworkVersion)" />
</packages>